*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    position: relative;
    background-color: #333;
    color: white;
    font-family: "Alegreya", serif;
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Alegreya", serif;
    font-size: 50px;
}

@media screen and (max-width: 1400px) {
    .title {
        margin-top: 20px;
        font-size: 30px;
        margin-bottom: 0px;
    }
}

.container-modal {
    border-radius: 10px;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #1c1b1b;
    width: 40vw;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-modal__span--close {
    position: relative;
    left: 47%;
    top: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .container-modal {
        top: 10px;
        width: 50vw;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.container-form__error {
    width: 730px;
    height: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: red;
    opacity: 0;
}

.show-error-block {
    animation: showErrorBlock 0.3;
    opacity: 1;
}

@keyframes showErrorBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1400px) {
    .container-form__error {
        font-size: 15px;
        height: 20px;
    }
}

.container-form__data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
    width: 730px;
}

@media screen and (max-width: 1400px) {
    .container-form__data {
        margin-top: 10px;
    }
}

.container-form__label {
    font-weight: 400;
    text-align: right;
    width: 235px;
    margin-right: 20px;
    height: 40px;
    font-family: "Alegreya";
    font-size: 20px;
}

@media screen and (max-width: 1400px) {
    .container-form__label {
        font-size: 15px;
        height: 35px;
    }
}

.container-form__icon {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    text-align: center;
    height: 40px;
    border: solid 1px #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media screen and (max-width: 1400px) {
    .container-form__icon {
        height: 35px;
    }
}

.container-form__input,
.container-form__input--text-area {
    height: 40px;
    padding: 0;
    border: solid 1px #ccc;
    width: 235px;
    font-size: 20px;
}

@media screen and (max-width: 1400px) {
    .container-form__input,
    .container-form__input--text-area {
        height: 35px;
        font-size: 15px;
    }
}

.container-form__input:focus {
    outline: none;
}

.container-form__button {
    font-family: "Alegreya", serif;
    position: relative;
    width: 80%;
    height: 40px;
    left: 45px;
    border-radius: 5px;
    border: solid 1px #5595ed;
    background-color: #5595ed;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1400px) {
    .container-form__button {
        width: 500px;
        height: 35px;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 20px;
        font-size: 25px;
    }
}

.container-form__select {
    border: solid 1px #ccc;
    width: 235px;
    height: 40px;
}

@media screen and (max-width: 1400px) {
    .container-form__select {
        height: 35px;
    }
}

.show-modal {
    animation: showModal 0.5s;
    display: flex;
    z-index: 1;
}

.hidden-modal {
    animation: hiddenModal 0.5s;
}

@keyframes showModal {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hiddenModal {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
