.container-error,
.container-delete {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #1c1b1b;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: -1;
}

.container-error__title {
    font-size: 30px;
    margin-top: 10px;
}
.container-error__content {
    font-size: 20px;
    margin-top: 10px;
}

.container-error__button {
    background-color: #5595ed;
    border: 2px solid #5595ed;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    margin-right: 30px;
}

.show-error-modal {
    animation: showErrorModal 0.5s;
    z-index: 10;
    display: block;
}

@keyframes showErrorModal {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
