*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    color: #fff;
}

.main-title {
    font-family: 'Alegreya', serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.main-search {
    margin-bottom: 10px;
}

.main-form {
    padding: 20px;
}

.main-form__data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-form__span {
    margin-right: 5px;
}

.main-form__input {
    border-radius: 5px;
    width: 300px;
    height: 35px;
    margin-right: 10px;
}

.main-form__input:focus {
    outline: none;
}

.main-form__button {
    padding: 8px 20px;
    background-color: #5595ed;
    border: 1px solid #5595ed;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.main-container__table {
    table-layout: fixed;
    overflow: hidden;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Alegreya', serif;
    width: 90%;
}

.main-container__th:nth-child(1) {
    width: 5%;
}

.main-container__th:nth-child(2) {
    width: 12%;
}

.main-container__th:nth-child(3) {
    width: 30%;
}

.main-container__th:nth-child(4) {
    width: 30%;
}

.main-container__th:nth-child(5) {
    width: 12%;
}

.main-container__td {
    border-top: 1px solid #b8adad;
    height: 60px;

}

.main-container__span, .main-container__span--alert {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #2B4764;
    cursor: pointer;
    margin-right: 2px;
}

.main-container__span--alert {
    background-color: #f7211e;
}

.main-container__img, .main-container__img--alert {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
}